---
import { PageNameMap, PageType } from "payload-app/consts"
import "../styles/global.css"
import { AllRoutes } from "@/lib/route"

const routePattern = Astro.routePattern
const foundPage = Object.entries(AllRoutes).find(([pageType, route]) => route === routePattern)?.[0] as PageType
const name = foundPage && PageNameMap[foundPage].cnName

const title = `${Astro.locals.title ?? name ?? '🆘❤️‍🩹❤️ Koston Homepage'} | 壳盾新材料`
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width" /> -->
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body class="min-h-screen flex flex-col bg-white">
    <slot />
    <slot name="bottom" />
  </body>
</html>
