---
import { getPayloadApp, getImageUrl } from '@/lib/template'
import { ChevronRight } from 'lucide-react'
import { MediaSubDir } from 'payload-app'
const payload = await getPayloadApp()

const industries = await payload.find({ collection: 'industries', limit: 3})
---

<ul class='mt-23 pb-27 flex justify-between space-x-19'>
  {industries.docs.map((industry) => (
    <li class="bg-white flex-1/3 hover-card">
      <a href={`/industry/${industry.id}`}
        class='block'
      >
        <div class="h-70 bg-cover bg-center" style={{
          backgroundImage: `url('${getImageUrl(industry.thumbnail, MediaSubDir.IndustryImages, 'square')}')`
        }}></div>
        <div class="py-8 px-6">
          <div class='flex justify-between items-center'>
            <div>
              <h2 class="text-xl font-medium">{industry.name}</h2>
              <p class="text-sm font-medium">{industry.engName}</p>
            </div>
            <span class="rounded-full bg-red leading-0 size-6 flex justify-center items-center">
              <ChevronRight className='text-white size-5'/>
            </span>
          </div>
          <div class="text-xs text-gray mt-6 line-clamp-3">{industry.excerpt}</div>
        </div>
      </a>
    </li>
  ))}
</ul>